@media screen and (max-width: 480px) {
  img {max-width: 100%;}
}
body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
}

mark {
  background-color: #3bff5c
}

h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 40px;
}